<% @articles.each { |item| %>                
        <div class="col-4 justify-content-md-center">
            <%= link_to article_path(item) do %>
                <div class="card text-center m-2 shadow-sm">                    
                    <div class="card-article-body card-body">
                        <div class="image-article-preview">
                            <%= add_image item %>    
                        </div>
                        <h5 class="card-title"><%= link_to item.title, article_path(item), class: "text-success" %></h5>
                        <p class="card-text"><%= truncate(strip_tags(item.description.to_s), length: 50) %></p>

                        <% if item.categories.any? %>
                            <div class="mt-2 mb-2">
                                <%= render item.categories %>                
                            </div>
                        <% end %>
                                                                    
                        <% if logged_in? && 
                            (item.user == current_user || current_user.admin?) %>

                            <%= link_to 'Edit', edit_article_path(item), class: "btn btn-outline-info" %>
                            <%= link_to 'Delete', article_path(item), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-outline-danger btn-delete" %>                            
                        <% end %>
                    </div>
                    <div class="card-footer text-muted">
                        <% if item.user %>
                            by <%= link_to item.user.username, user_path(item.user) %>
                        <% end %>
                        <br>
                        <small>Created <%= time_ago_in_words(item.created_at) %> ago,
                        edited <%= time_ago_in_words(item.updated_at) %> ago</small>
                    </div>
                </div>
            <% end %>
        </div>           
    <% } %>

<% if @articles.empty? %>
    <p class="text-center text-secondary">No articles have been created yet</p>
<% end %>
