<div class="row justify-content-md-center">    
    <div class="col-10 mt-1">
        <div class="card m-2 shadow-sm">
            <h2 class="text-center m-2 article-title"><%= @article.title %></h2>
        </div>
    </div>

    <div class="col-10">        
        <div class="card m-2 shadow-sm">
                    
            <div class="article-image">
                <%= add_image(@article) %> 
            </div>

            <div class="card-body">
                <div class="card-text"><%= @article.description  %></div>

                <% if @article.categories.any? %>
                    <div class="mt-4">
                        <%= render @article.categories %>                
                    </div>
                <% end %>
                                
                <% if logged_in? && (@article.user == current_user || current_user.admin?) %>             
                    <div class="text-center">
                        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info" %>
                        <%= button_to 'Delete', article_path(@article), method: :delete, class: "btn btn-outline-danger btn-delete" %>
                    </div>
                <% end %>            
            </div>
            <div class="card-footer text-muted text-center">
                <div class="fst-italic">
                    by <%= @article.user.username if @article.user %>
                </div>

                <div class="small-user-image">
                    <%= link_to add_image(@article.user), @article.user %>
                </div>

                <small>Created <%= time_ago_in_words(@article.created_at) %> ago,
                edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
            </div>
        </div>
    </div>
</div>